%# BEGIN BPS TAGGED BLOCK {{{
%#
%# COPYRIGHT:
%#
%# This software is Copyright (c) 1996-2018 Best Practical Solutions, LLC
%#                                          <sales@bestpractical.com>
%#
%# (Except where explicitly superseded by other copyright notices)
%#
%#
%# LICENSE:
%#
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%#
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%#
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
%# 02110-1301 or visit their web page on the internet at
%# http://www.gnu.org/licenses/old-licenses/gpl-2.0.html.
%#
%#
%# CONTRIBUTION SUBMISSION POLICY:
%#
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%#
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%#
%# END BPS TAGGED BLOCK }}}
<& /Elements/Header, Title=>loc("Preferences") &>
<& /Elements/Tabs &>

<& /Elements/ListActions, actions => \@results &>

<form action="<%RT->Config->Get('WebPath')%>/Prefs/AboutMe.html" method="post">
<input type="hidden" class="hidden" name="id" value="<%$UserObj->Id%>" />

<table width="100%" border="0">
<tr>

<td valign="top" class="boxcontainer">
<&| /Widgets/TitleBox, title => loc('Identity'), id => "user-prefs-identity" &>

<input type="hidden" class="hidden" name="Name" value="<%$UserObj->Name%>" />
<table cellspacing="0" cellpadding="0">
  <tr>
    <td class="label"><&|/l&>Email</&>: </td>
    <td class="value"><input name="EmailAddress" value="<%$UserObj->EmailAddress%>" /></td>
  </tr>
  <tr>
    <td class="label"><&|/l&>Real Name</&>:</td>
    <td class="value"><input name="RealName" value="<%$UserObj->RealName%>" /></td>  </tr>
  <tr>
    <td class="label"><&|/l&>Nickname</&>:</td>
    <td class="value"><input name="NickName" value="<%$UserObj->NickName || ''%>" /></td>
  </tr>
  <tr>
    <td class="label"><&|/l&>Language</&>:</td>
    <td class="value"><& /Elements/SelectLang, Name => 'Lang', Default => $UserObj->Lang &></td>
  </tr>
  <tr>
    <td class="label"><&|/l&>Timezone</&>:</td>
    <td class="value"><& /Elements/SelectTimezone, Name => 'Timezone', Default => $UserObj->Timezone &></td>
  </tr>
<& /Elements/EditCustomFields, Object => $UserObj, Grouping => 'Identity', InTable => 1 &>
</table>
</&>
<&| /Widgets/TitleBox, title => loc('Phone numbers'), id => "user-prefs-phone" &>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td class="label"><&|/l&>Residence</&>:</td>
    <td class="value"><input name="HomePhone" value="<%$UserObj->HomePhone || ''%>" size="13" /></td>
  </tr>
  <tr>
    <td class="label"><&|/l&>Work</&>:</td>
    <td class="value"><input name="WorkPhone" value="<%$UserObj->WorkPhone || ''%>" size="13" /></td>
  </tr>
  <tr>
    <td class="label"><&|/l&>Mobile</&>:</td>
    <td class="value"><input name="MobilePhone" value="<%$UserObj->MobilePhone || ''%>" size="13" /></td>
  </tr>
  <tr>
    <td class="label"><&|/l&>Pager</&>:</td>
    <td class="value"><input name="PagerPhone" value="<%$UserObj->PagerPhone || ''%>" size="13" /></td>
  </tr>
<& /Elements/EditCustomFields, Object => $UserObj, Grouping => 'Phones', InTable => 1 &>
</table>
</&>

%if ($UserObj->Privileged) {
<&| /Widgets/TitleBox, title => loc('Signature'), id => "user-prefs-signature" &>
<textarea cols="80" rows="5" name="Signature" class="signature" wrap="hard">
<%$UserObj->Signature || ''%></textarea>
</&>
% }

% $m->callback( %ARGS, UserObj => $UserObj, CallbackName => 'FormLeftColumn' );
</td>
<td valign="top" class="boxcontainer">

<&| /Widgets/TitleBox, title => loc('Access control'), id => "user-prefs-access-control" &>
% if ( $UserObj->__Value('Password') ne '*NO-PASSWORD*' ) {
<& /Elements/EditPassword,
    User => $UserObj,
    Name => [qw(CurrentPass Pass1 Pass2)],
&>
% }

<& /Elements/EditCustomFields, Object => $UserObj, Grouping => 'Access control' &>

</&>

<&| /Widgets/TitleBox, title => loc('Location'), id => "user-prefs-location" &>
<table cellspacing="0" cellpadding="0">
  <tr>
    <td class="label"><&|/l&>Organization</&>:</td>
    <td class="value"><input name="Organization" value="<%$UserObj->Organization || ''%>" /></td>
  </tr>
  <tr>
    <td class="label"><&|/l&>Address1</&>:</td>
    <td class="value"><input name="Address1" value="<%$UserObj->Address1 || ''%>" /></td>
  </tr>
  <tr>
    <td class="label"><&|/l&>Address2</&>:</td>
    <td class="value"><input name="Address2" value="<%$UserObj->Address2 || ''%>" /></td>
  </tr>
  <tr>
    <td class="label"><&|/l&>City</&>:</td>
    <td><input name="City" value="<%$UserObj->City || ''%>" size="14" /></td>
  </tr>
  <tr>
    <td class="label"><&|/l&>State</&>:</td>
    <td class="value"><input name="State" value="<%$UserObj->State || ''%>" size="3" /></td>
  </tr>
  <tr>
    <td class="label"><&|/l&>Zip</&>:</td>
    <td class="value"><input name="Zip" value="<%$UserObj->Zip || ''%>" size="9" /></td>
  </tr>
  <tr>
    <td class="label"><&|/l&>Country</&>:</td>
    <td class="value"><input name="Country" value="<%$UserObj->Country || ''%>" /></td>
  </tr>
<& /Elements/EditCustomFields, Object => $UserObj, Grouping => 'Location', InTable => 1 &>
</table>
</&>



<& /Elements/EditCustomFieldCustomGroupings, Object => $UserObj &>



<& /Elements/Submit, Label => loc('Save Preferences') &>

<&| /Widgets/TitleBox, title => loc('Secret authentication token'), id => "user-prefs-feeds" &>

<&|/l&>All iCal feeds embed a secret token which authorizes you.  If the URL for one of your iCal feeds was exposed to the outside world, you can get a new secret, <b>breaking all existing iCal feeds</b>, below.</&>

<a href="#" id="ResetAuthTokenPrompt" style="display: none">
  <&|/l&>I want to reset my secret token.</&>
</a>
<& /Elements/Submit,
    Label       => loc('Reset secret authentication token'),
    Name        => "ResetAuthToken",
    id          => "ResetAuthTokenContainer" &>
<script>
    jQuery("#ResetAuthTokenContainer").hide();
    jQuery("#ResetAuthTokenPrompt").show().click(function(ev){
        jQuery(this).slideUp();
        jQuery("#ResetAuthTokenContainer").slideDown();
        ev.preventDefault();
    });
</script>
</&>

% $m->callback( %ARGS, UserObj => $UserObj, CallbackName => 'FormRightColumn' );
</td>
</tr>

</table>

% $m->callback( %ARGS, UserObj => $UserObj, CallbackName => 'FormEnd' );

</form>


<%INIT>

my $UserObj = RT::User->new( $session{'CurrentUser'} );
$UserObj->Load($id) if $id;
$UserObj->Load($Name) if $Name && !$UserObj->id;
unless ( $UserObj->id ) {
    Abort(loc("Couldn't load user #[_1] or user '[_2]'", $id, $Name))
        if $id && $Name;
    Abort(loc("Couldn't load user #[_1]", $id))
        if $id;
    Abort(loc("Couldn't load user '[_1]'", $Name))
        if $Name;
    Abort(loc("Couldn't load user"));
}
$id = $UserObj->id;

my @results;

if ( $ARGS{'ResetAuthToken'} ) {
    my ($status, $msg) = $UserObj->GenerateAuthToken;
    push @results, $msg;
}
else {
    my @fields = qw(
        Name Comments Signature EmailAddress FreeformContactInfo 
        Organization RealName NickName Lang Gecos HomePhone WorkPhone
        MobilePhone PagerPhone Address1 Address2 City State Zip Country
        Timezone
    );

    $m->callback(
        CallbackName => 'UpdateLogic',
        fields       => \@fields,
        results      => \@results,
        UserObj      => $UserObj,
        ARGSRef      => \%ARGS,
    );

    push @results, UpdateRecordObject (
        AttributesRef => \@fields,
        Object => $UserObj,
        ARGSRef => \%ARGS,
    );

    push @results, ProcessObjectCustomFieldUpdates( ARGSRef => \%ARGS, Object => $UserObj );

    # Deal with special fields: Privileged, Enabled, and Password
    if  ( $SetPrivileged and $Privileged != $UserObj->Privileged ) {
        my ($code, $msg) = $UserObj->SetPrivileged( $Privileged );
        push @results, loc('Privileged status: [_1]', loc_fuzzy($msg));
    }

    my %password_cond = $UserObj->CurrentUserRequireToSetPassword;
    if (defined $Pass1 && length $Pass1 ) {
        my ($status, $msg) = $UserObj->SafeSetPassword(
            Current      => $CurrentPass,
            New          => $Pass1,
            Confirmation => $Pass2,
        );
        push @results, loc("Password: [_1]", $msg);
    }
}


MaybeRedirectForResults(
    Actions   => \@results,
);

</%INIT>


<%ARGS>
$id => $session{'CurrentUser'}->Id
$Name  => undef
$Comments  => undef
$Signature  => undef
$EmailAddress  => undef
$FreeformContactInfo => undef
$Organization  => undef
$RealName  => undef
$NickName  => undef
$Privileged => undef
$SetPrivileged => undef
$Enabled => undef
$SetEnabled => undef
$Lang  => undef
$Gecos => undef
$HomePhone => undef
$WorkPhone  => undef
$MobilePhone  => undef
$PagerPhone  => undef
$Address1 => undef
$Address2  => undef
$City  => undef
$State  => undef
$Zip  => undef
$Country => undef
$CurrentPass => undef
$Pass1 => undef
$Pass2 => undef
$Create=> undef
</%ARGS>
